h1 {
  color: blue;
  margin-right: 0px;
  padding-right: 0px;
}

.inline {
  display: inline-block;
  
}

summary {
  display: block;
  list-style: none;
}

/* 一部ブラウザで消えなかった場合は以下も追記 */
summary::-webkit-details-marker {
  display:none;
}

.red {
  color: red;
}

/* 8/18 */