h1 {
  color: blue;
  /* margin-right: 0px; */
  /* padding-right: 0px; */
  margin: 0 1% 1% 0;
  text-align: left;
}

p {
  white-space: pre-wrap;
}

.evo {
  margin: 0 0 1rem 0;
}

.container {
  /* white-space: nowrap; */
  /* display: inline; */
  width: 90%;
  display: flex;
}

.right {
  /* margin-right: 0; */
  /* margin-left: auto; */
  text-align: right;
}

.inline {
  white-space: nowrap;
  display: inline;
}

h1 {
  display: inline;
}

summary {
  display: block;
  list-style: none;
}

/* 一部ブラウザで消えなかった場合は以下も追記 */
summary::-webkit-details-marker {
  display:none;
}

.red {
  color: red;
}

/* 8/18 */