{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>記事登録画面</h1>
    <div class="red">{{ username }}でログイン中</div>
</div>
<form action="do_create" method="POST">
    <label for="title">タイトル</label>
    <br>
    <input type="text" name="title">
    <div class="red">{{ comment }}</div>
    <br>
    <label for="body">内容</label>
    <br>
    <textarea type="text" name="body" rows="10" cols="60" wrap=”hard”></textarea>
    <br>
    <input type="hidden" name="username" value="{{ username }}">
    <input type="submit" value="新規登録">
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash">
      {% for message in messages %}
      <li>
        {{ message }}

      </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}