{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1 class="">ブログアプリ</h1>
  <form action="/signup">
    <div class="right"><button type="submit" formmethod="POST">新規user登録ページへ</button></div>
  </form>
</div>
  <form class="evo" action="/login">
    <button type="submit" formmethod="POST">ログインページへ</button>
  </form>
<hr>
{% for blogarticle in blogarticles|sort(attribute='id', reverse = True) %}
<article>
  <details>
    <summary class="red">{{ blogarticle.title }}</summary>
    <p>{{ blogarticle.body }}</p>
  </details>
</article>
<hr>
{% endfor %}
{% endblock %}