{% extends 'base.html' %}
{% block content %}
<article>
  <h1 class="inline">ブログアプリ</h1>
  <form action="/master">
    <!-- <input type="password" name="password"> -->
    <button type="submit" formmethod="POST">編集ページに移動</button>
  </form>
  (準備中)
</article>
<hr>
{% for blogarticle in blogarticles|sort(attribute='id', reverse = True) %}
<article>

  <details>
    <summary class="red">(タイトル){{ blogarticle.title }}</summary>
    {{ blogarticle.body }}
  </details>
</article>
<hr>
{% endfor %}
{% endblock %}