{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1 class="">ブログアプリ</h1>
  <a href="/signup">新規user登録ページへ</a>
  <!-- <a href="">新規user登録ページへ</a> -->
  
</div>
<a href="/login">ログインページへ</a>
<!-- <a href="">ログインページへ</a> -->
<hr>
{% with messages = get_flashed_messages() %}
  {% for message in messages %}
    {{ message }}
  {% endfor %}
{% endwith %}
{% for blogarticle in blogarticles|sort(attribute='id', reverse = True) %}
<article>
  <details>
    <summary class="red title">{{ blogarticle.title }}</summary>
    <p>{{ blogarticle.body }}</p>
    {% if blogarticle.img_path %}
    <div>
      <img src="{{ blogarticle.img_path }}" style="width: 200px;">
    </div>
    {% endif %}
  </details>
</article>
<hr>
{% endfor %}
{% endblock %}