{% extends 'base.html' %}
{% block content %}
<h1 class="inline">ブログアプリ</h1>
  <!-- <input type="password">
  <input type="submit" value="ログイン"> -->
<p class="red">ログイン中</p>
  (準備中)
<br>
<a href="/create" role="button">新規作成画面</a>
<hr>
{% for blogarticle in blogarticles|sort(attribute='id', reverse = True) %}
<article>
  <details>
    <summary class="red">・{{ blogarticle.title }}</summary>
    <form action="/update">
      <input type="hidden" name="post_id" value="{{ blogarticle.id }}" id="">
      <button type="submit" formmethod="POST">編集</button>
    </form>
    <form action="/delete">
      <input type="hidden" name="post_id" value="{{ blogarticle.id }}" id="">
      <button type="submit" formmethod="POST">削除</button>
    </form>
    <!-- <p>作成日時：{{ blogarticle.created_at }}</p> -->
    <p>{{ blogarticle.body }}</p>
  </details>
</article>
<hr>
{% endfor %}
{% endblock %}