{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>ブログアプリ</h1>
  <form action="/logout">
    <button type="submit" formmethod="POST">ログアウト</button>
  </form>
</div>
<div class="red">{{ username }}でログイン中</div>

<a href="/create">記事登録画面へ</a>
<!-- <a href="/">記事登録画面へ</a> -->
<hr>
{% for blogarticle in blogarticles|sort(attribute='id', reverse = True) %}
<article>
  <details>
    <summary class="red">{{ blogarticle.title }}</summary>
    <p>{{ blogarticle.body }}</p>
    <div class="container">
      <form action="/update" class="inline" >
        <input type="hidden" name="post_id" value="{{ blogarticle.id }}">
        <button type="submit" formmethod="POST">編集</button>
      </form>
      <form action="/delete">
        <input type="hidden" name="post_id" value="{{ blogarticle.id }}" id="">
        <button type="submit" formmethod="POST">削除</button>
      </form>
    </div>
    <!-- <div>作成日時：{{ blogarticle.created_at.strftime("%Y-%m-%d-%H-%M") }}</div> -->
  </details>
</article>
<hr>
{% endfor %}
{% endblock %}