{% extends 'base.html' %}
{% block content %}
<h1 class="inline">ブログアプリ</h1>
  <!-- <input type="password">
  <input type="submit" value="ログイン"> -->
<p class="red">ログイン中</p>
  (準備中)
<br>
<form action="/create">
  <button type="submit" formmethod="POST">新規作成画面</button>
</form>
<hr>
{% for blogarticle in blogarticles|sort(attribute='id', reverse = True) %}
<article>
  <details>
    <summary class="red">(タイトル){{ blogarticle.title }}</summary>
    <p>{{ blogarticle.body }}</p>
    <p class="inline">
      <form action="/update" class="inline" >
        <input type="hidden" name="post_id" value="{{ blogarticle.id }}" id="">
        <button type="submit" formmethod="POST">編集</button>
      </form>
      <form action="/delete">
        <input type="hidden" name="post_id" value="{{ blogarticle.id }}" id="">
        <button type="submit" formmethod="POST">削除</button>
      </form>
    </p>
    <!-- <p>作成日時：{{ blogarticle.created_at }}</p> -->
  </details>
</article>
<hr>
{% endfor %}
{% endblock %}